*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* ------- base.html/navigation bar --------------------------------------------- */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo{
    width: 140px;
    margin-left: -80px;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.nav-links li a{
    text-decoration: none;
    color: #323232;
}

.login-btn{
    background: rgb(255, 125, 0);
    font-size: 18px;
    color: #fff;
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none;
}

.signup-btn{
    background: rgb(255, 125, 0);
    font-size: 18px;
    color: #fff;
    padding: 5px 40px;
    border-radius: 20px;
    text-decoration: none;
}

nav .fa-bars{
    display: none;
}


/* ------- base.html/footer ------- */

.foot-container{
    padding: 5px 5%;
}

.footer{
    margin: 80px 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    margin: 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    color: #777;
}


/* ------- base.html/smaller display ------- */
@media screen and (max-width: 768px) {
    .logo {
        width: 70px;
        margin-left: 0px;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 3%;
        right: 8%;
        color: #323232;
        font-size: 28px;
        cursor: pointer;
        transition: color 0.5s ease;
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, #ff7e00, #ff5361);
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0 4px 8px rgba(0,0,0,.3);
        border-radius: 10px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
    }
    .nav-links.show{
        max-height: 300px;
    }
    .nav-links li {
        margin: 10px;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
    }
    .nav-link-box{
        background: #3e793a;
        padding: 8px;
        border-radius: 8px;
    }
    .nav-links a{
        font-size: 14px;
        font-weight: 500;
        color: #333;
        text-decoration: none;
        display: block;
        position: relative;
        /* transition: color 0.5s ease; */
    }
    .nav-links a::after{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: #333;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.5s ease, opacity 0.5s ease;
    }
    .nav-links a:hover{
        color: #66aa66;
    }
    .nav-links a:hover::after{
        /* background: #66ff66; */
        width: 100%;
    }
    .nav-links .login-btn,
    .nav-links .signup-btn {
        display: block;
        background: #f3f3f3;
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .nav-links .login-btn:hover,
    .nav-links .signup-btn:hover {
    background: #333; /* Change to your preferred dark color */
    color: #66ff66; /* Change to a brighter green color */
}

}

/* ------- index.html/main section ------- */

.hero{
    min-height: 100vh;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to left, rgba(0,0,0,.3), rgba(35,35,35,.3)), url(../images/banner.png);
    background-size: cover;
    background-position: left 220px center;
}

.hero h1{
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    margin-left: 3rem;
    padding-top: 7%;
    margin-bottom: 20px;
}

.hero li{
    list-style: none;
    width: 50%;
    padding: 5px;
}

input[type='radio']{
    display: none;
}

.hero .statement li label{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background: #323232;
    color: #eee;
    padding: 3%;
    margin-left: 5%;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
}

label::after{
    content: '>>';
    font-size: 25px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

.hero .details{
    font-size: 18px;
    background: #4b4b4b;
    color: #eee;
    margin-left: 5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.hero input[type='radio']:checked + label + .details{
    max-height: 600px;
    padding: 30px 20px;
}

.hero input[type='radio']:checked + label::after{
    transform: rotate(90deg);
}

/* ------- index.html/side bar ------- */

.sidebar{
    background: #fff;
    width: 15%;
    position: absolute;
    top: 0;
    padding-right: 2%;
    margin-bottom: 50px;
    margin-top: 106px;
    min-height: 100vh;
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar h2{
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5%;
}

.sidebar .trending a{
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10%;
}

.sidebar .preowned img{
    height: 4rem;
    width: 5rem;
    border-radius: 8%;
    margin-bottom: 8%;
}

.sidebar .preowned{
    font-size: .6rem;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}


.small-sidebar{
    width: 5%;
}

.small-sidebar a p{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

/* ------- exclusives ------- */

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div{
    position: relative;
}

.exclusives div img{
    width: 100%;
    border-radius: 4px;
}

.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* ------- Trending Places ------- */

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}

/* ------- call to action ------- */

.cta{
    margin: 10px 0;
    background-image: linear-gradient(to right, #3f2321, transparent);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3{
    font-size: 18px;
    /* line-height: 5.3vw; */
    font-weight: 500;
}

.cta p{
    font-size: 20px;
    margin: 10px 0;
}

.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 4px;
    margin-top: 12px;
    display: inline-block;
}

/* ------- Travelers' Stories ------- */

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div{
    position: relative;
    text-align: center;
}

.stories div img{
    width: 100%;
    border-radius: 10px;
}

.stories div p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}

.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/* ------- about-msg ------- */

.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about-msg{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}
.pagination .step-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination .step-links .prev,
.pagination .step-links .next {
padding: 5px 10px;
border: 1px solid blue;
border-radius: 17px;
background: blue;
text-decoration: none;
color: white;
font-weight: 500;
width: 230px;
}

.pagination .step-links .page-info {
font-weight: bold;
white-space: nowrap;
/* overflow: hidden; */
text-overflow: ellipsis;
width: 100px;
}

.pagination .step-links .flexible {
flex-grow: 1;
}


