{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Our Missions</h1>
    <div class="about-msg">
        <h2>Promotes cycling as a healthy, accessible and time-efficient activities for all ages.</h2>
        <p>Do you know that by biking for just 30 minutes daily, it will build up your cardiovascular and muscular endurance?</p>
        <p>We will share with you some experts' researches and findings on how you can benefits this low this low impact cardio exercise and how to do it safely.</p>
    </div>
    <div class="about-msg">
        <h2>Empowers cyclists to maintain their bikes with ease.</h2>
        <p>To ensure safety and a enjoyable bike ride, your bicycle needs to regular checkups, maintenance and servicing.</p>
        <p>We will share with you the location and operating hours of a bike repair shops near you, simple checks and DIY repairs which you will find it handy.</p>
    </div>
    <div class="about-msg">
        <h2>Tackles the growing issue of abandoned bikes</h2>
        <p>We provide a marketplace where you can sell, donate and responsibly disposal of your underutilized bicycles to keep our public areas neat and clean.</p>
        <p>Give them a second life and do your part to conserve the natural resources and make our Earth greener.</p>
    </div>
</div>
</div>
<div class="container">

<h2 class="sub-title">Exclusive Promotions for our Sponsors</h2>
<div class="exclusives">
    <div>
        <img src="images/adidas.png">
        <span>
            <h3>Adidas</h3>
            <p>Supports sustainable materials and circular services...</p>
        </span>
    </div>
    <div>
        <img src="images/nike.png">
        <span>
            <h3>Nike SG</h3>
            <p>Just Do it</p>
        </span>
    </div>
    <div>
        <img src="images/shimano.jpg">
        <span>
            <h3>Shimano</h3>
            <p>A Japanese manufacturer of cycling components, fishing tackle, and rowing equipment</p>
        </span>
    </div>
    <div>
        <img src="images/dahon.png">
        <span>
            <h3>Dahon</h3>
            <p>World leader in folding bicycle</p>
        </span>
    </div>
    <div>
        <img src="images/brompton.png">
        <span>
            <h3>Brompton</h3>
            <p>World's best well-known folding bicycles from UK</p>
        </span>
    </div>
    <div>
        <img src="images/giant.png">
        <span>
            <h3>Giant</h3>
            <p>World's largest bicycle manufacturer in Taiwan</p>
        </span>
    </div>
    <div>
        <img src="images/gt.jpg">
        <span>
            <h3>GT</h3>
            <p>Top slopestyle and freeride mountain bikes</p>
        </span>
    </div>
    <div>
        <img src="images/bell.png">
        <span>
            <h3>Bell bicycle helmets</h3>
            <p>Premium bike helmets that feature advanced safety technology</p>
        </span>
    </div>
    <div>
        <img src="images/smith.jpg">
        <span>
            <h3>Smith Trace</h3>
            <p>Reduces forces caused by angled impacts to the head</p>
        </span>
    </div>
    <div>
        <img src="images/rapha.png">
        <span>
            <h3>Rapha</h3>
            <p>Founded in 2004 - London. It is one of the biggest names in cycling clothes.</p>
        </span>
    </div>
</div>

<h2 class="sub-title">Most Popular Blogs</h2>
<div class="trending">
    <div>
        <img src="images/cycling1.jpg" width="300" height="250">
        <h3>120 likes...  12 shares</h3>
    </div>
    <div>
        <img src="images/cycling2.jpg" width="300" height="200">
        <h3>90 likes... 10 shares</h3>
    </div>
    <div>
        <img src="images/cycling3.jpg" width="300" height="200">
        <h3>88 likes... 9 shares</h3>
    </div>
    <div>
        <img src="images/cycling4.jpg" width="300" height="300">
        <h3>79 likes... 9 shares</h3>
    </div>
</div>
<div>
    <img src="images/cycling5.jpg" width="300" height="300">
    <h3>62 likes... 2 shares</h3>
</div>
</div>

<div class="cta">
    <h3>Postings</h3>
    <p>We welcome your sharing of thoughts on cycling here.</p>
    <a href="#" class="cta-btn">Your post.</a>
</div>

<h2 class="sub-title">Latest Pre-owned Bikes for Sales</h2>
<div class="stories">
    <div>
        <img src="images/bike1.jpg" width="300" height="250">
        <p>Selling @ $60.00</p>
    </div>
    <div>
        <img src="images/bike2.jpg" width="300" height="250">
        <p>Selling @ $80.00</p>
    </div>
    <div>
        <img src="images/bike3.jpg" width="300" height="250">
        <p>Selling @ $100.00</p>
    </div>
</div>
<a href="#" class="start-btn">Sell your underutilized bike here</a>
</div>
{% endblock content %}

