{% load static %}
<header>
    <div id="'branding">
        <img src="{% static 'img/logo.png' %}" alt="logo"/>
    </div>
    </header>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Our Pre-owned Bikes</a></li>
        <li><a href="{% url 'book' %}">Appointment</a></li>
        {% if user.is_authenticated %}
            <li style="float: right;"><a href="{% url 'logout' %}">Sign OUT</a></li>
        {% else %}
            <li style="float: right;"><a href="{% url 'login' %}">Sign IN</a></li>
        {% endif %}
    </ul>
</nav>