
{% extends 'core/base.html' %}
{% load static %}


{% block title %}Item Details{% endblock %}
    
{% block content %}
<div class="container">
    <div class="sidebar">
        <h2 class="sub-title">Popular Blog Topics</h2>
        <div class="trending">
            <a href="#">Health tips</a>
            <a href="#">Bike DIY maintenance</a>
            <a href="#">Professional biking</a>
            <a href="#">Green advices</a>
        </div>
        <hr>
        <h2 class="sub-title">Latest Pre-owned</h2>
        <div class="preowned">
            <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
            <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
            <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
        </div>
    </div>
    <div class="details-container">
        <div class="grid-container">
            <div class="left-col">
                {% if item.image %}
                  <img src="{{ item.image.url }}" alt="Item image" class="item-image">
                {% else %}
                  <p>No image available</p>
                {% endif %}
              </div>
              <div class="right-col">
                <h1 class="item-name">{{ item.name }}</h1>
                <p class="item-details">
                  <strong>Category: </strong>{{ item.category }}
                </p>
                <p class="item-details">
                  <strong>Price: </strong>{{ item.formatted_price }}
                </p>
                <p class="item-details">
                  <strong>Seller: </strong>{{ item.created_by }}
                </p>
                {% if item.description %}
                  <p class="item-description">
                    <strong>Description: </strong><br>
                    {{ item.description }}
                  </p>
                {% endif %}
                {% if request.user == item.created_by %}
                  <div class="owner-info">
                    <p>This is your item!</p>
                    <a href="{% url 'item:edit' item.id %}" class="edit-btn">Edit</a>
                    <a href="{% url 'item:delete' item.id %}" class="delete-btn">Delete</a>
                  </div>
                {% else %}
                  <a href="{% url 'conversation:new' item.id %}" class="contact-btn">Contact seller</a>
                {% endif %}
              </div>
            </div>
            <div class="related-items">
              <h2>Similar items</h2>
              <div class="items-grid">
                {% for item in related_items %}
                  <div class="related-item">
                    <a href="{% url 'item:detail' item.id %}">
                      <img src="{{ item.image.url }}" alt="Related item image">
                        <h3>{{ item.name }}</h3>
                        <p>Price: {{ item.formatted_price }}</p>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
