
{% extends 'core/base.html' %}
{% load static %}


{% block title %}Item Details{% endblock %}
    
{% block content %}
<div class="container">
  {% include 'item/item_search.html' %}
    <div class="details-container">
        <div class="grid-container">
          <div class="left-col">
            <div class="item-image">
              
            {% if item.image and item.image.url %}
            <img src="{{item.image.url}}" class="photo_thumbnail active" alt="latest Image">
            {% endif %}
            {% if item.image_2 and item.image_2.url %}
            <img src="{{item.image_2.url}}" class="photo_thumbnail" alt="latest Image">
            {% endif %}
            {% if item.image_3 and item.image_3.url %}
            <img src="{{item.image_3.url}}" class="photo_thumbnail" alt="latest Image">
            {% endif %}
            {% if item.image_4 and item.image_4.url %}
            <img src="{{item.image_4.url}}" class="photo_thumbnail" alt="latest Image">
            {% endif %}
            <img src="{{ item.image.url }}" id=featured alt="latest Image">
          </div>

          </div>
            <div class="right-col">
              <h1 class="item-name">{{ item.name }}</h1>
              <p class="item-details">
                <strong>Category: </strong>{{ item.category }}
              </p>
              <p class="item-details">
                <strong>Price: </strong>{{ item.formatted_price }}
              </p>
              <p class="item-details">
                <strong>Seller: </strong>{{ item.created_by|capfirst }}
              </p>
              <p class="item-details">
                <strong>Posted on: </strong>{{ item.created_on }}
              </p>
              <p class="item-details">
                <strong>Material: </strong>{{ item.material }}
              </p>
              <p class="item-details">
                <strong>Drivetrain: </strong>{{ item.drivetrain }}
              </p>
              <p class="item-details">
                <strong>Tire size: </strong>{{ item.tire_size }}
              </p>
              <p class="item-details">
                <strong>Brake type: </strong>{{ item.brake_type }}
              </p>
              {% if item.description %}
                <p class="item-description">
                  <strong>Description: </strong><br>
                  {{ item.description }}
                </p>
              {% endif %}
              {% if request.user == item.created_by %}
                <div class="owner-info">
                  <!-- <p>This is your item!</p> -->
                  <br>
                  <a href="{% url 'item:edit' item.id %}" class="edit-btn">Edit</a>
                  <a href="{% url 'item:delete' item.id %}" class="delete-btn">Delete</a>
                </div>
              {% else %}
              <br>
                <a href="{% url 'conversation:new' item.id %}" class="contact-btn">Contact seller</a>
              {% endif %}
            </div>
          </div>
        <div class="related-items">
          <h2>Similar items</h2>
          <div class="items-grid">
            {% for item in related_items %}
              <div class="related-item">
                <a href="{% url 'item:detail' item.id %}">
                  <img src="{{ item.image.url }}" alt="Related item image">
                    <h3>{{ item.name }}</h3>
                    <p>Price: {{ item.formatted_price }}</p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  let thumbnails = document.getElementsByClassName('photo_thumbnail')
  let activeImages = document.getElementsByClassName('active')
  for (var i = 0; i < thumbnails.length; i++) {
    thumbnails[i].addEventListener('mouseover', function(){
      if (activeImages.length > 0){
        activeImages[0].classList.remove('active')
      }
      this.classList.add('active')
      document.getElementById('featured').src = this.src
    });
  }
</script>
{% endblock %}
