{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h2 class="sub-title">Popular Blog Topics</h2>
        <div class="trending">
            <a href="#">Health tips</a>
            <a href="#">Bike DIY maintenance</a>
            <a href="#">Professional biking</a>
            <a href="#">Green advices</a>
        </div>
        <hr>
        <h2 class="sub-title">Latest Pre-owned</h2>
        <div class="preowned">
            <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
            <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
            <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
        </div>
    </div>
    <div class="add_item">
        <h1>{{ title }}</h1>
        {% if form.errors or form.non_field_errors %}
        <div class="error-messages">
        {% for field in form %}
            <div class="error">{{ field.errors }}</div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-container">
            <div class="left-column">
                <label for="name" class="form-label">Name</label>
                {{ form.name }}
                <br><label for="description" id="form-desc">Description</label><br>
                {{ form.description }}
                <br><label for="price" class="form-label">Price</label>
                {{ form.price }}
                <br><label for="image" class="form-label">Upload Photo</label>
                {{ form.image }}
            </div>
            <div class="right-column">
                <label for="category" class="form-label">Bike Type</label>
                {{ form.category }}
                <br><label for="material" class="form-label">Material</label>
                {{ form.material }}
                <br><label for="frame_size" class="form-label">Frame Size</label>
                {{ form.frame_size }}
                <br><label for="tire_size" class="form-label">Tire Size</label>
                {{ form.tire_size }}
                <br><label for="brake_type" class="form-label">Brake Type</label>
                {{ form.brake_type }}
            </div>
        </div>
        <button type="submit" class="submit-button">Submit</button>
        
    </form>
    </div>
</div>
{% endblock %}
