{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    {% include 'core/sidebar.html' with latest_items=latest_items %}
    <div class="add_item">
        <h1>New Item</h1>
        {% if form.errors or form.non_field_errors %}
        <div class="error-messages">
        {% for field in form %}
            <div class="error">{{ field.errors }}</div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-container">
            <div class="left-column">
                <label for="name" class="form-label">Name</label>
                {{ form.name }}
                <br>
                <label for="description" class="form-label">Description</label><br>
                <textarea name="description" class="form-textarea">{{ form.description.value }}</textarea>
                <br><label for="price" class="form-label">Price</label>
                {{ form.price }}
                <div class="upload-photo">
                <label for="image" class="form-label">Upload Photo#1</label>
                    {{ form.image }}
                </div>
                <br> 
                <div class="upload-photo">
                    <label for="image" class="form-label">Upload Photo#2</label>
                    {{ form.image_2 }}
                </div>
                <br>
                <div class="upload-photo">
                    <label for="image" class="form-label">Upload Photo#3</label>
                    {{ form.image_3 }}
                </div>
                <br>
                <div class="upload-photo">
                    <label for="image" class="form-label">Upload Photo#4</label>
                    {{ form.image_4 }}
                </div>
            </div>
            <hr>
            <div class="right-column">
                <div class="right-left">
                    <label for="category" class="form-label">Bike Type</label>
                    {{ form.category }}
                    <br><label for="material" class="form-label">Material</label>
                    {{ form.material }}
                    <br><label for="frame_size" class="form-label">Drivetrain</label>
                    {{ form.drivetrain }}
                </div>
                <div class="right-right">
                    <label for="tire_size" class="form-label">Tire Size</label>
                    {{ form.tire_size }}
                    <br><label for="brake_type" class="form-label">Brake Type</label>
                    {{ form.brake_type }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="is_sold" name="is_sold" {% if form.is_sold.value %}checked{% endif %}>
                        <label class="form-check-label" for="is_sold">
                            Not available / Sold
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="submit-button">Submit</button>
        
    </form>
    </div>
</div>
<script>
$(document).ready(function() {
    // Disable clicking on file inputs
    $('.file-input').on('click', function(e) {
        e.preventDefault();
    });

    // Disable clicking on checkbox labels
    $('.checkbox-label').on('click', function(e) {
        e.preventDefault();
    });
});
</script>

{% endblock %}
