{% extends 'core/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h2 class="sub-title">Popular Blog Topics</h2>
        <div class="trending">
            <a href="#">Health tips</a>
            <a href="#">Bike DIY maintenance</a>
            <a href="#">Professional biking</a>
            <a href="#">Green advices</a>
        </div>
        <hr>
        <h2 class="sub-title">Latest Pre-owned</h2>
        <div class="preowned">
            <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
            <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
            <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
        </div>
    </div>
    <div class="main-container">
        <h2 class="section-title">Newest items</h2>
        <div class="item-container">
            {% for item in items %}
                <div class="item">
                    <a href="{% url 'item:detail' item.id %}"><img src="{{ item.image.url }}" alt="Item Image">
                    <span>
                        <h3>{{ item.name }}</h3>
                        <p>Price: {{ item.formatted_price }}</p>
                    </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br>
        <hr>
        <h2 class="section-title">Categories</h2>
        <div class="category-container">
            {% for category in categories %}
                <div class="category">
                    <a href="#">
                        <div class="category-details">
                            <span>
                                <h3>{{ category.name }}</h3>
                                <p>{{ category.items.count }} items</p>
                        </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
