{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBikeSG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/b550cc9444.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--------- navigation bar --------->
    <nav>
        <div class="nav-left">
            <a href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <span class="logo-text"></span>
            </a>
        </div>
        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="{% url 'core:home' %}" class="active"><i class="fa-solid fa-shop"></i><span>Home</span></a></li>
                <!-- <li><a href="{% url 'blog:post_list' %}" class="active"><i class="fa-solid fa-blog"></i><span>Blog</span></a></li> -->
                <li><a href="{% url 'location:location' %}" class="active"><i class="fa-solid fa-location-dot"></i></i><span>Location</span></a></li>
                <li><a href="{% url 'item:marketplace' %}"><i class="fa-solid fa-handshake"></i></i><span>Marketplace</span></a></li>
                
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard:index' %}"><i class="fa-solid fa-heart"></i><span>Dashboard</span></a></li>
                <li><a href="{% url 'item:new' %}"><i class="fa-solid fa-square-plus"></i><span>AddItem</span></a></li>
                <li><a href="#" class="message-btn"><i class="fa-solid fa-envelope-circle-check"></i></i><span>Message</span></a></li>
                <li><a href="{% url 'core:logoutuser' %}"><i class="fa-solid fa-lock-open"></i><span>Logout</span></a></li>

                {% else %}
                <li><a href="{% url 'core:signupuser' %}"><i class="fa-solid fa-user-plus"></i><span>Signup</span></a></li>
                <li><a href="{% url 'core:loginuser' %}"><i class="fa-solid fa-lock"></i><span>Login</span></a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
        
    <!-- <div class="foot-container">
        <div class="footer">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <hr>
            <p>Copyright @ 2024, GreenBikeSG.</p>
        </div>
    </div> -->

</body>
</html>
