{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBikeSG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/b550cc9444.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--------- navigation bar --------->
    <nav>
        <div class="nav-left">
            <a href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.png' %}" class="logo">
            </a>
        </div>
        <div class="nav-right" id="navBar">
            <ul class="nav-links">
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'blog:post_list' %}" class="active">Blogs</a></li>
                <li><a href="{% url 'item:marketplace' %}">Marketplace</a></li>
                <li><a href="#">Servicing</a></li>
                
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard:index' %}" class="dashboard-btn">Dashboard</a></li>
                <li><a href="{% url 'item:new' %}" class="dashboard-btn">Add item</a></li>
                <li><a href="#" class="message-btn">Message</a></li>
                <li><a href="{% url 'core:logoutuser' %}" class="logout-btn">Logout</a></li>

                {% else %}
                <li><a href="{% url 'core:signupuser' %}" class="signup-btn">Signup</a></li>
                <li><a href="{% url 'core:loginuser' %}" class="login-btn">Login</a></li>
            </ul>
            {% endif %}
            <i class="fa-solid fa-bars" onclick="togglebtn()"></i>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
        
    <div class="foot-container">
        <div class="footer">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <hr>
            <p>Copyright @ 2024, GreenBikeSG.</p>
        </div>
    </div>
<script>
    var navBar = document.getElementById("navBar");
    var navLinks = document.querySelector(".nav-links");
        function togglebtn(){
        navBar.classList.toggle("hidemenu");
        navLinks.classList.toggle("show");
    }
</script>
</body>
</html>
