{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBikeSG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/b550cc9444.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--------- navigation bar --------->
    <nav>
        <div class="nav-left">
            <a href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.png' %}" class="logo">
            </a>
        </div>
        <div class="nav-right" id="navBar">
            <ul class="nav-links">
                <li><a href="{% url 'blog:post_list' %}" class="active"><i class="fa-solid fa-blog"></i></a></li>
                <li><a href="{% url 'item:marketplace' %}"><i class="fa-solid fa-bicycle"></i></i></i></a></li>
                
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'dashboard:index' %}" class="dashboard-btn"><i class="fa-solid fa-heart"></i></a></li>
                <li><a href="{% url 'item:new' %}" class="dashboard-btn"><i class="fa-solid fa-square-plus"></i></a></li>
                <li><a href="#" class="message-btn"><i class="fa-solid fa-message"></i></a></li>
                <li><a href="{% url 'core:logoutuser' %}"><i class="fa-solid fa-lock"></i></a></li>

                {% else %}
                <li><a href="{% url 'core:signupuser' %}"><i class="fa-solid fa-user-plus"></i></a></li>
                <li><a href="{% url 'core:loginuser' %}"><i class="fa-solid fa-lock-open"></i></a></li>
            </ul>
            {% endif %}
            <!-- <i class="fa-solid fa-bars" onclick="togglebtn()"></i> -->
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
        
    <div class="foot-container">
        <div class="footer">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <hr>
            <p>Copyright @ 2024, GreenBikeSG.</p>
        </div>
    </div>

</body>
</html>
