{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% include 'core/sidebar.html' with latest_items=latest_items %}
    <div class="hero">
        <h1>Our Missions</h1>
        <ul class="statement">
            <li>
                <input type="radio" name="statement" id="first">
                <!-- <label for="first">Promotes cycling as a healthy sport for all ages.</label> -->
                <label for="first">Cycling: A Healthy Choice for Everyone!</label>
                <div class="details">
                    <p>Did you know that just 30 minutes of cycling each day can significantly improve your cardiovascular and muscular endurance? </p>
                    <br><p>It's a fantastic way to stay healthy and active, regardless of your age!</p>
                    <br><p>We'd love to share some expert research and tips on how to safely enjoy the benefits of this low-impact cardio exercise. So, hop on your bike and get ready to experience the joy of cycling!</p>
                    <!-- <p>Do you know that by biking for just 30 minutes daily, it will build up your cardiovascular and muscular endurance?</p>
                    <p>We will share with you some experts' researches and findings on how you can benefits this low impact cardio exercise safely.</p> -->
                </div>
            </li>
            <li>
                <input type="radio" name="statement" id="second">
                <!-- <label for="second">Empowers cyclists to maintain their bikes with ease.</label> -->
                <label for="second">Empowering You to Care for Your Bike with Confidence!</label>
                <div class="details">
                    <!-- <p>To ensure safety and a enjoyable bike ride, your bicycle needs to regular checkups, maintenance and servicing.</p>
                    <p>We will share with you the location and operating hours of a bike repair shops near you, simple checks and DIY repairs which you will find it handy.</p> -->
                    <p>Keeping your bike in top shape is key to a safe and enjoyable ride! Regular checkups, maintenance, and servicing are essential for smooth operation and happy adventures.</p>
                    <br><p>We're here to help! We'll share the locations and operating hours of nearby bike repair shops, along with some handy tips on simple checks and DIY repairs that you can tackle at home</p>
                    <br><p>Get ready to roll with confidence!</p>
                </div>
            </li>
            <li>
                <input type="radio" name="statement" id="third">
                <!-- <label for="third">Tackles the growing issue of abandoned bikes.</label> -->
                <label for="third">Breathing New Life into Unwanted Bikes!</label>
                <div class="details">
                    <!-- <p>We provide a marketplace where you can sell, donate and responsibly disposal of your underutilized bicycles to keep our public areas neat and clean.</p>
                    <p>Give them a second life and do your part to conserve the natural resources and make our Earth greener.</p> -->
                    <p>Got a bike that's collecting dust?</p>
                    <br><p>We understand! Give your underutilized bicycle a second chance by selling, donating, or responsibly disposing of it through our convenient marketplace.</p>
                    <br><p>Let's work together to keep our public spaces clean and contribute to a greener Earth!</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}

