{% extends 'core/base.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container">
  {% include 'core/sidebar.html' with latest_items=latest_items %}
  <div class="login-container">
    <h1>Login</h1>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <form method="POST" action="{% url 'core:loginuser' %}?next={{ request.GET.next }}">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username" class="form-label">Username</label><br>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label><br>
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <div class="text-center">
      Don't have an account?&middot;&middot;&middot;&middot;&middot&middot;&middot;&middot;&middot;&middot;&marker;<a href="{% url 'core:signupuser' %}?next={{ request.GET.next }}">Sign Up here</a><br>
      Forget your password?&middot;&middot;&middot;&middot;&middot;&middot&middot;&middot;&middot;&middot;&middot;&marker;<a href="{% url 'core:reset_password' %}">Click here to reset</a>
    </div>
  </div>
</div>
{% endblock %}

