{% extends 'core/base.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container">
  <div class="sidebar">
    <h2 class="sub-title">Popular Blog Topics</h2>
    <div class="trending">
        <a href="#">Health tips</a>
        <a href="#">Bike DIY maintenance</a>
        <a href="#">Professional biking</a>
        <a href="#">Green advices</a>
    </div>
    <hr>
    <h2 class="sub-title">Latest Pre-owned</h2>
    <div class="preowned">
        <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
        <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
        <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
    </div>
</div>
  <div class="login-container">
    <h1>Login</h1>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <form method="POST" action="{% url 'core:loginuser' %}?next={{ request.GET.next }}">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username" class="form-label">Username</label><br>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label><br>
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <div class="text-center">
      Need an account?&middot;&middot;&middot;&marker;<a href="{% url 'core:signupuser' %}">Sign Up here</a>
    </div>
  </div>
</div>
{% endblock %}

