{% load static %}


{% block content %}
<div class="sidebar">
    <h3 class="sub-title">Popular Blog Topics</h3>
    <div class="trending">
        <a href="#">Health tips</a>
        <a href="#">Bike DIY maintenance</a>
        <a href="#">Professional biking</a>
        <a href="#">Green advices</a>
    </div>
    <hr>
    <h3 class="sub-title">Latest Pre-owned</h3>
    <div class="preowned">
        {% for item in latest_items %}
            <div class="latest">
                <a href="{% url 'item:detail' item.id %}"><img src="{{ item.image.url}}" alt="latest Image">
                    <p>{{ item.formatted_price }}</p>
                </a>
            </div> 
        {% endfor %}
    </div>
</div>
{% endblock content %}
    