{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sign up{% endblock  %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h2 class="sub-title">Popular Blog Topics</h2>
        <div class="trending">
            <a href="#">Health tips</a>
            <a href="#">Bike DIY maintenance</a>
            <a href="#">Professional biking</a>
            <a href="#">Green advices</a>
        </div>
        <hr>
        <h2 class="sub-title">Latest Pre-owned</h2>
        <div class="preowned">
            <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
            <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
            <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
        </div>
    </div>
    <div class="signup-container">
        <h1 class="signup-title">Sign up</h1>
        
        {% if form.errors or form.non_field_errors %}
        <div class="error-message">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form method="post" action="{% url 'core:signupuser' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_username" class="form-label">Username</label><br>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_password1" class="form-label">Password</label><br>
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <label for="id_password2" class="form-label">Repeat....</label><br>
                {{ form.password2 }}
            </div>

            <button class="submit-button">Submit</button>
        </form>
        <hr>
        <hr>
        <div class="text-center">
          Already have an account?&middot;&middot;&middot;&marker;<a href="{% url 'core:loginuser' %}">Log in here</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
