{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sign up{% endblock  %}

{% block content %}
<div class="container">
    {% include 'core/sidebar.html' with latest_items=latest_items %}
    <div class="signup-container">
        <h1>Sign up</h1>
        
        {% if form.errors or form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'core:signupuser' %}?next={{ request.GET.next }}">
            {% csrf_token %}

            <div class="form-group">
                <h3 label for="id_username">Username&#160;&#160;&#160;&#160;&#160;&#160;&#160;</label></h3><br>
                {{ form.username }}
            </div>

            <div class="form-group">
                <h3 label for="id_email">Email address</label></h3><br>
                {{ form.email }}
            </div>

            <div class="form-group">
                <h3 label for="id_password1">Password&#160;&#160;&#160;&#160;&#160;&#160;&#160;</label></h3><br>
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <h3 label for="id_password2">Repeat....&#160;&#160;&#160;&#160;&#160;&#160;&#160;</label></h3><br>
                {{ form.password2 }}
            </div>

            <button class="submit-button">Submit</button>
        </form>
        <input type="hidden" id="userLoggedIn" value="{% if not request.user.is_authenticated %}True{% else %}False{% endif %}">

        <hr>
        <hr>
        <div class="text-center">
          Already have an account?&middot;&middot;&middot;&marker;<a href="{% url 'core:loginuser' %}">Log in here</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
