{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
<div class="container">
    <div class="blogs">
    <h1>My Blog</h1>
    {% for post in posts %}
      <h2>
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="date">
        Published {{ post.publish }} by {{ post.author }}
      </p>
      {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
  </div>

  <div class="sidebar">
  <h2 class="sub-title">Popular Blog Topics</h2>
    <div class="trending">
      <div>
          <a href="#">Health tips</a>
      </div>
      <div>
          <a href="#">Bike DIY maintenance</a>
      </div>
      <div>
          <a href="#">Professional biking</a>
      </div>
      <div>
          <a href="#">Green advices</a>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock content %}