{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBikeSG</title>
    <meta name="description" content="A brief description"/>
    <meta name="author" content="We hope to do our share to reduce wastes by encouraging recycle pre-owned (good condition) bicycles and to support skilful mechanics who took pride in their know-hows."/>

    <!-- Load favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- Include CSS files here -->>
    <link rel="preload" as="style" href="{% static 'css/style.css' %}" onload="this.rel = 'stylesheet'"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
        
</head>
<body>
    <!-- Header content -->
    {% include 'partials/_header.html' %}
    <main>
        
        {% block content %}
            
        {% endblock content %}

            
    </main>

    <!-- Footer content -->
    {% include 'partials/_footer.html' %}
</body>
</html>