 <!-- bikes (app)/create_bike.html -->

{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <article>
        <h1>Add New Bike</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ bike_form.as_p }}
                <label for="{{ bike_photo_form.image_for_label }}">Bike Photo:</label>
                {{ bike_photo_form.image }}

                <!-- Use a hidden field to indicate this is the main photo -->
                {{ bike_photo_form.is_main_photo }}
                
                <br>                         
                <input type="submit" value='Create New Record' aria-label="Create New Record">
            </form>
            <a href="{% url 'menu' %}">Back to Menu</a>
        </div>
    </article>
</section>

{% endblock %}
