{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <article>
        <h1>Add New Bike</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ bike_form.as_p }}
                {{ photo_form.as_p }}
                <label for="{{ bike_form.main_photo.id_for_label }}">Main Photo:</label>
                {{ bike_form.main_photo }}
                <br>
                <label for="{{ bike_form.additional_photos.id_for_label }}">Additional Photos:</label>
                {{ bike_form.additional_photos }}
                <br>                             
                <input type="submit" value='Create New Record' aria-label="Create New Record">
            </form>
            <a href="{% url 'menu' %}">Back to Menu</a>
        </div>
    </article>
</section>

{% endblock %}
