{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section>
        <article id="'here">
            <h1 class="heading_shadow">Spring-cleaning or moving house soon?</h1>
                <p>
                    Why not donate your old, useable bicycle and put a smile on their faces!
                </p>
                <img src="{% static 'img/ThankYou3.png' %}"/>
                <href="#" class="cta">Contact Us now</a>

        </article>
    </section>
    <section>
        <article>
            <h2>Opening Hours</h2>
            <p>
                GreenBikeSG serves you 7 days a week, except for Public Holidays.
            </p>
        <ul>
            <li>Mon - Fri: 2pm to 10pm</li>
            <li>Sat : 10am to 2pm</li>
            <li>Sun : 10am to 2pm</li>
        </ul>    
        </article>
    </section>
{% endblock content %}
