<!-- bikes (app)/templates/menu_item.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Bike Details</h1>
    <div class="bike-item">
        <img src="{{ bike.main_photo.url }}" alt="{{ bike.name }}">
        <p>Make/Model:  {{ bike.name }}  {{ bike.model }}</p>
        <p>New Price: ${{ bike.new_price }} | Selling Price: ${{ bike.selling_price }}</p>
        <p>Location:  {{ bike.location }} | Status: {{ bike.status }}</p>
        <p>Description:  {{ bike.description }}</p>

        {# add links to update and delete records #}
        <p>
            <a href="{% url 'update_bike' pk=bike.pk %}">Update</a>
            <a href="{% url 'delete_bike' pk=bike.pk %}">Delete</a>
        </p>
    </div>
<a href="{% url 'menu' %}">Back to Menu</a>

{% endblock content %}