<!-- bikes (app)/templates/menu.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Our pre-owned Bikes</h1>
<!--Begin col-->
<div class="column">
    {% for bike in bikes %}
        <div class="bike-item">
            <a href="{% url 'menu_item' pk=bike.pk %}">
                {% if bike.main_photo %}
                    <img src="{{ bike.main_photo.url }}?v=2" alt="{{ bike.name }}">
                {% else %}
                <img src='{% static 'img/default_photo.jpg' %}' alt="Default Image">
                {% endif %}
            </a>
            <span class='link-description'>Click me to view details</span>
            <p>Make/Model: {{ bike.name }}  {{bike.model}}</p>
            <p>New Price: ${{ bike.new_price }}   |    Selling Price: ${{ bike.selling_price }}</p>
            <p>Location:  {{ bike.location }}        |    Status: {{ bike.status }}</p>
            <p>Description: {{ bike.description }}</p>
        </div>
        <hr>

    {% endfor %}
</div>
<!-- End col -->

{% if is_manager %}
    <div>
        <a href="{% url 'create_bike' %}">Create New Record</a>
    </div>
{% endif %}

{% endblock content %}
