{% extends 'core/base.html' %}
{% load static %}

{% block title %}Repair Shops{% endblock %}

{% block content %}

<div class="container">
  <div class="sidebar">
    <h2 class="sub-title">Popular Blog Topics</h2>
    <div class="trending">
        <a href="#">Health tips</a>
        <a href="#">Bike DIY maintenance</a>
        <a href="#">Professional biking</a>
        <a href="#">Green advices</a>
    </div>
    <hr>
    <h2 class="sub-title">Latest Pre-owned</h2>
    <div class="preowned">
            
      {% for item in latest_items %}
          <div class="latest">
              <a href="{% url 'item:detail' item.id %}"><img src="{{ item.image.url}}" alt="latest Image">
                  <p>{{ item.formatted_price }}</p>
              </a>
          </div> 
      {% endfor %}
  </div>
  </div>
  <div class="location-container">
    <h1>Bicycle Repair Shops</h1>
    
    {% if error %}
      <div class="bad-location">{{ error }}</div>
    {% endif %}
      
    <h3>Search for nearby bicycle repair shops</h3>
    <form id="address-form" action="{% url 'location:nearest_shops' %}" method="GET">
      <label for="address">Enter your address or postal code:</label>
      <input type="text" id="address" name="address">
      <button type="submit"></a>Find Nearest Shops</button>
    </form>
    <br>
    <h4>Your location: {{ location }}</h4>
    <br>
    <h3>The nearest Repair Shops</h3>
   <table class="table-container"> 
    <thead>
      <th>Shop name</th>
      <th>Shop address</th>
      <th>Contact person</th>
      <th>Contact number</th>
      <th>Approx distance</th>
    </thead>
    <tbody>
      {% for shop in nearest_shops %}
        <tr>
          <td>{{ shop.shop.name }}</td>
          <td>{{ shop.shop.address }}</td>
          <td>{{ shop.shop.contactName }}</td>
          <td>{{ shop.shop.phoneNumber }}</td>
          <td>{{ shop.distance }} km</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>
</div>

{% endblock %}