{% extends 'core/base.html' %}
{% load static %}

{% block title %}Repair Shops{% endblock %}

{% block content %}

<div class="container">
  <div class="sidebar">
    <h2 class="sub-title">Popular Blog Topics</h2>
    <div class="trending">
        <a href="#">Health tips</a>
        <a href="#">Bike DIY maintenance</a>
        <a href="#">Professional biking</a>
        <a href="#">Green advices</a>
    </div>
    <hr>
    <h2 class="sub-title">Latest Pre-owned</h2>
    <div class="preowned">
        <a href="#"><img src="{% static 'images/bike1.jpg' %}"><span> $500.00</span></a>
        <a href="#"><img src="{% static 'images/bike2.jpg' %}"><span> $2,200.00</span></a>
        <a href="#"><img src="{% static 'images/bike3.jpg' %}"><span> $80.00</span></a>
    </div>
  </div>
  <div class="location-container">
    <h1>Bicycle Repair Shops</h1>
    <div id="map" style="height: 600px; width: 600px;"></div>

    <h3>Search nearest Bicycle Repair Shops</h3>
    <form id="address-form" action="{% url 'location:nearest_shops' %}" method="GET">
      <label for="address">Enter your address or postal code:</label>
      <input type="text" id="address" name="address">
      <button type="submit"></a>Find Nearest Shops</button>
    </form>
    <br>
    <h4>Your location: {{ location }}</h4>
    <br>
    <h3>The nearest Repair Shops</h3>
    <ul id="nearest-shops">
      {% for shop in nearest_shops %}
        <li>
          <p>Shop name: {{ shop.shop.name }}</p>
          <p>Shop address: {{ shop.shop.address }}</p>
          <p>Contact person: {{ shop.shop.contactName }}</p>
          <p>Contact number: {{ shop.shop.phoneNumber }}</p>
          <p>Approx distance: {{ shop.distance }} km</p>
          <br>
        </li>
        {% endfor %}
    </ul>

    <h3>Download RepairShop Data</h3>
    <p><a href="{% url 'location:download_csv' %}">Download CSV</a></p>
  </div>
</div>

<script>
  var shops = {{ shops|safe }};
  // Base layer and center on Singapore
  var map = L.map('map').setView([1.3521, 103.8198], 12);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  // for each repair shop, add a Marker
  shops.forEach(shop => {
    L.marker([shop.latitude, shop.longitude]).addTo(map)
  });
</script>


{% endblock %}